@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  scroll-behavior: smooth;
}

.outfit {
  font-family: var(--font-outfit);
}

.orbitron {
  font-family: var(--font-orbitron);
}

.hero-bg {
  background: url("/hero-bg.png") center/cover no-repeat;
}
.services-bg {
  background: url("/serv.png")  no-repeat;
}

@media screen and (width >= 1840px) {
  .log-wide {
width: 30%;
  }
  
}

@media screen and (width<=344px) {
  .rommobg {
    background: #3f3f3f;
    height: 37rem;
  }
}