@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit {
  font-family: var(--font-outfit);
}

.orbitron {
  font-family: var(--font-orbitron);
}

.hero-bg {
  background: url("/hero-bg.png") center/cover no-repeat;
}
.services-bg {
  background: url("/serv.png")  no-repeat;
}